@page
@model BakeryShop.Pages.OrderSuccess
@{
    ViewData["Title"] = "OrderSuccess";
}
<ol id="orderPorcess">
    <li>
        <span class="step-number">1</span> Choose Item
    </li>
    <li>
        <span class="step-number">2</span> Details and Submit
    </li>
    <li class="current">
        <span class="step-number">3</span> Receipt
    </li>
</ol>
<h1>Order Confirmation</h1>


<div class="border-sccess">
    <h2>Thank you for order</h2>
    <p>
        We are processing your order and have send a confirmation email.
        <br />
        Thanks for your time!

    </p>
</div>